@charset "utf-8";



/* CSS Document */


@media screen and (min-width: 421px) and (max-width: 767px) {
 #comunidad {
 min-height:30px;
min-width:100%;
background-color:#039;
}
 #comunidad-busqueda {
position:relative;
height:30px;
width:420px;
max-width:100%;
left:50%;
margin-left:-210px;
border:orange 0px solid;
}
 #comunidad-redes {
position:relative;
float:right;
top:2px;
right:20px;
min-height:30px;
min-width:121px;
border:red 0px solid;
background-image:url(../images/nav-redes.png);
}
 #headerInt {
 display: inline-block;
 position: relative;
 width: 420px;
 padding: 15px 0;
 text-align: left;
}
 #headerInt-entrepares {
position:relative;
float:left;
top:0px;
left:30px;
}
 #headerInt-medio {
position:relative;
display:none;
float:left;
top:0px;
right:10px;
border:red 0px solid;
max-width:380px;
}
 #headerInt-conricyt {
position:relative;
float:left;
top:0px;
left:100px;
}
 #menu {
 height: 232px;/**/
 border-top: 2px solid #00549F;
 border-bottom: 2px solid #00549F;
 background-color: #2E4156;
 text-transform: uppercase;
 text-align: center;
}
 #menu ul {
 display: inline-block;
 margin: 0;
 padding: 0;
 list-style: none;



	/**/



	max-width:400px;
 min-width:400px;
 border:red 0px solid;
}
 #menu ul li {
 position: relative;
 float: left;
 padding: 10px;
 margin: 4px -0px 0;
 color: #FFFFFF;
 font-size: 13px;
 cursor: pointer;



	/**/



	border:0px;
 min-width:170px;
 max-width:170px;
 max-height:21px;
 min-height:21px;
}
 #menu ul li img {
 margin-right: 18px;
 margin-top: -8px;
}
 #menu ul li ul li {
 margin:0px 3px 6px 3px;
 padding:5px;
 float: none;
 border: none;
 border-radius: 4px;



	



	/**/



	white-space: inherit;
 line-height:none;
min-height:30px;
 max-width:200px;
border-bottom:#069 1px solid;
}











/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/







#contenedor {
 clear: both;
 width: 420px;
 min-height: 300px;
 height: auto !important;
 margin: 10px auto 0;
}
 .bannersDiv img {
width:90%;
}
 #contenido {
 margin:5px;
 padding:5px;
 border-bottom: 1px #CCCCCC dotted;
 font-size: 14px;
max-width:400px;
}
 #logos {
 clear: both;
 height: 240px;
 width: 100%;
 background: none;
 text-align: center;
}
 div.mapa {
 width:100%;
 margin: 30px auto 15px;
}
 div.imagenesHoteles img {
 margin:5px;
max-width:100%;
}
 div.tarifas {
 margin:5px;
 width:98%;
}
 div.institucion {
 line-height: 60px;
}
 div.institucion img {
position:relative;
 left: 40px;
}
 div.institucion p {
 position:relative;
 left:-10px;
 width: 400px;
}
 .programa td {
 max-width:120px;
 font-size: 12px;
 text-align: left;
 vertical-align: middle;
}







/* Sección descargable &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/



.descargables-contenido1 {
 position:relative;
float:left;
width:100%;
max-width:400px;
height:auto;
left:50%;
margin-left:-200px;
border:#003366 1px solid;
padding-bottom:2px;
-webkit-border-radius:6px 6px 6px 6px;
-moz-border-radius: 6px 6px 6px 6px;
border-radius: 6px 6px 6px 6px;
}
 .descargables-fila-1 {
position:relative;
float:left;
width:394px;
left:50%;
margin-left:-197px;
margin-top:3px;
height:auto;
min-height:80px;
text-align: center;
background-color:#00529E;
color:#FFF;
line-height:20px;
-webkit-border-radius:6px 6px 6px 6px;
-moz-border-radius: 6px 6px 6px 6px;
border-radius: 6px 6px 6px 6px;
}
 .descargables-fila-2 {
position:relative;
float:left;
width:394px;
left:50%;
margin-left:-197px;
margin-top:3px;
height:auto;
min-height:80px;
text-align: center;
background-color:#2E4156;
color:#FFF;
line-height:30px;
-webkit-border-radius:6px 6px 6px 6px;
-moz-border-radius: 6px 6px 6px 6px;
border-radius: 6px 6px 6px 6px;
}
 .descargables-fila-3 {
position:relative;
float:left;
width:394px;
left:50%;
margin-left:-197px;
margin-top:3px;
height:auto;
min-height:120px;
text-align: center;
background-color:#FFF;
color:#FFF;
line-height:20px;
}
 .descargables-celda-1 {
position:relative;
float:left;
min-width:392px;
height:auto;
min-height:inherit;
border:#003366 1px solid;
color:#666;
margin-bottom:2px;
-webkit-border-radius:6px 6px 6px 6px;
-moz-border-radius: 6px 6px 6px 6px;
border-radius: 6px 6px 6px 6px;
padding-left:0px;
}
 .descargables-celda-2 {
position:relative;
float:left;
width:392px;
height:auto;
min-height: inherit;
border:#003366 1px solid;
text-align:center;
color:#666;
margin-bottom:2px;
margin-left:0px;
-webkit-border-radius:6px 6px 6px 6px;
-moz-border-radius: 6px 6px 6px 6px;
border-radius: 6px 6px 6px 6px;
}







/* Fin Sección descargable &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/











/* Sección Programa*/







/*aplica a varias tablas*/



.responsive {
display: table-cell;
}







/* Fin aplica a varias tablas*/















/*tabla 1*/



.programa-titulo-inicio {
min-width:400px;
min-height:50px;
}
 .programa-titulo-inicio2 {
min-width:400px;
min-height:50px;
}
 .programa-tabla-inicio td:nth-of-type(1) {
height:100px;
width:40px;
max-width:40px;
font-size:10px;
}



/*el estilo anterior es necesariopara que funcione el siguiente*/



.programa-tabla-inicio tr:nth-of-type(1) td:nth-of-type(1) {
height:100px;
min-height:100px;
max-height:240px;
width:60px;
min-width:80px;
max-width:80px;
border:#666 1px solid;
background-color:#484F56;
color:#FFF;
font-size:11px;
}
 .programa-tabla-inicio tr:nth-of-type(1) td:nth-of-type(2) {
height:100px;
min-height:100px;
max-height:240px;
width:100px;
min-width:80px;
max-width:95px;
border:#666 1px solid;
background-color:#484F56;
color:#FFF;
font-size:11px;
}
 .programa-tabla-inicio tr:nth-of-type(1) td:nth-of-type(3) {
height:100px;
min-height:100px;
max-height:240px;
width:100px;
min-width:80px;
max-width:95px;
border:#666 px solid;
background-color:#484F56;
color:#FFF;
font-size:11px;
}
 .programa-tabla-inicio tr:nth-of-type(1) td:nth-of-type(4) {
height:100px;
min-height:100px;
max-height:240px;
width:100px;
min-width:80px;
max-width:95px;
border:#666 px solid;
background-color:#484F56;
color:#FFF;
font-size:11px;
}















/*Tabla 2*/







.programa-titulo {
min-width:290px;
min-width:330px;
min-height:50px;
}
 .programa-footer {
min-width:290px;
min-width:330px;
min-height:50px;
}















/*tabla 3*/







.programa-tabla-3 td:nth-of-type(1) {
height:119px;
min-height:119px;
max-height:119px;
min-width:105px;
color:#666;
font-size:11px;
}
 .programa-tabla-3 td:nth-of-type(2) {/*height:115px; min-height:115px; max-height:115px;*/
min-width:105px;
color:#666;
font-size:14px;
}
 .programa-tabla-3 td:nth-of-type(3) {/*height:115px; min-height:115px; max-height:115px;*/
min-width:105px;
color:#666;
font-size:14px;
}
 .programa-tabla-3 tr:nth-of-type(1) td:nth-of-type(1) {
height:100px;
min-height:100px;
max-height:240px;
min-width:70px;
border:#666 1px solid;
background-color:#C7CBCF;
color:#000;
font-size:14px;
}
 .programa-tabla-3 tr:nth-of-type(1) td:nth-of-type(2) {
height:100px;
min-height:100px;
max-height:240px;
min-width:70px;
border:#666 1px solid;
background-color:#484F56;
color:#FFF;
font-size:14px;
}
 .programa-tabla-3 tr:nth-of-type(1) td:nth-of-type(3) {
height:100px;
min-height:100px;
max-height:240px;
min-width:70px;
border:#666 px solid;
background-color:#484F56;
color:#FFF;
font-size:14px;
}
 .programa-tabla-3 tr:nth-of-type(2) td:nth-of-type(1) {
height:100px;
min-height:100px;
max-height:240px;
min-width:70px;
border:#666 1px solid;
background-color:#C7CBCF;
color:#000;
font-size:14px;
}
 .programa-tabla-3 tr:nth-of-type(2) td:nth-of-type(2) {
height:100px;
min-height:100px;
max-height:240px;
min-width:70px;
border:#666 1px solid;
background-color:#C7CBCF;
color:#000;
font-size:14px;
}
 .programa-tabla-3 tr:nth-of-type(2) td:nth-of-type(3) {
height:100px;
min-height:100px;
max-height:240px;
min-width:70px;
border:#666 1px solid;
background-color:#C7CBCF;
color:#000;
font-size:14px;
}



/* Fin Sección Programa*/







/* Pre Registro*/

.texto_prereg {
margin-left:-210px;
width:420px;
}
 .preregistro {
position:relative;
float:left;
width:420px;
max-width:420px;
left:50%;
margin-left:-210px;
border:#666 2px solid;
color:#06C;
font-weight:bold;
}
 #form_prerregistro label {
text-align:left;
height:15px;
min-height:15px;
margin-top:8px;
}
 #form_prerregistro img {
float:left;
left:50%;
margin-left:-180px;
margin-top:0px;
width:150px;
max-width:150px;
margin-top:10px;
clear: left;
}
 #recargar {
position:relative;
float:left;
left:80px;
margin-left:0px;
min-width:100px;
max-width:100px;
margin-top:10px;
text-align:center;
border:orange 0px solid;
}
 #img-recargar {
position:relative;
display:block;
float:left;
left:0px;
width:25px;
min-width:28px;
max-width:28px;
border:red 0px solid;
}
 #img-recargar img {
position:relative;
float:left;
left:0px;
width:25px;
max-width:25px;
margin-top:0px;
clear: none;
margin-left:0px
}
 .error {
position:relative;
float:left;
display:block;
color:#C00;
width:auto;
min-width:160px;
min-height:20px;
border:yellow 0px solid;
}
 .boton-regresar {
right:-20px;
}



/* Fin Pre Registro*/



/* seccion logos*/

	
.bloque-centrar {
position:relative;
float:left;
width:400px;
max-width:400px;
left:50%;
margin-left:-200px;
border:#999 0px solid;
}
/* Fin seccion logos*/












}











/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/



/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/



/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/



/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/



/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/



/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/















@media screen and (min-width: 0px) and (max-width: 420px) {
 #comunidad {
 min-height:30px;
min-width:100%;
background-color:#039;
}
 #comunidad-busqueda {
position:relative;
float:left;
height:30px;
width:320px;
max-width:100%;
left:50%;
margin-left:-150px;
border:orange 0px solid;
}
 #comunidad-redes {
position:relative;
float:right;
top:2px;
right:20px;
min-height:30px;
min-width:121px;
border:red 0px solid;
background-image:url(../images/nav-redes.png);
}
 #headerInt {
 display: inline-block;
 position: relative;
 width: 320px;
 padding: 15px 0;
 text-align: left;
}
 #headerInt-entrepares {
position:relative;
float:left;
top:0px;
left:0px;
}
 #headerInt-medio {
position:relative;
display:none;
float:left;
top:0px;
right:10px;
border:red 0px solid;
max-width:380px;
}
 #headerInt-conricyt {
position:relative;
float:left;
top:0px;
left:50px;
}
 #menu {
 height: 405px;/**/
 border-top: 2px solid #00549F;
 border-bottom: 2px solid #00549F;
 background-color: #2E4156;
 text-transform: uppercase;
 text-align: center;
}
 #menu ul {
 display: inline-block;
 margin: 0;
 padding: 0;
 list-style: none;



	/**/



	max-width:320px;
 min-width:320px;
 border:red 0px solid;
}
 #menu ul li {
 position: relative;
 float: left;
 padding: 10px;
 margin: 4px -0px 0;
 color: #FFFFFF;
 font-size: 13px;
 cursor: pointer;



	/**/



	border:0px;
 min-width:170px;
 max-width:170px;
 max-height:21px;
 min-height:21px;
}
 #menu ul li img {
 margin-right: 18px;
 margin-top: -8px;
}
 #menu ul li ul li {
 margin:0px 3px 6px 3px;
 padding:5px;
 float: none;
 border: none;
 border-radius: 4px;



	



	/**/



	white-space: inherit;
 line-height:none;
min-height:30px;
 max-width:200px;
border-bottom:#069 1px solid;
}







/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/







#contenedor {
 clear: both;
 width: 320px;
 min-height: 300px;
 height: auto !important;
 margin: 10px auto 0;
}
 .bannersDiv img {
width:90%;
}
 #contenido {
 margin:5px;
 padding:5px;
 border-bottom: 1px #CCCCCC dotted;
 font-size: 14px;
max-width:300px;
}
 #logos {
 clear: both;
 height: 240px;
 width: 100%;
 background: none;
 text-align: center;
}
 div.mapa {
 width:100%;
 margin: 30px auto 15px;
}
 div.imagenesHoteles img {
 margin:5px;
max-width:100%;
}
 div.tarifas {
 margin:5px;
 width:98%;
}
 div.institucion {
 line-height: 30px;
}
 div.institucion img {
position:relative;
 left: -10px;
}
 div.institucion p {
 position:relative;
 left:-10px;
 width: 300px;
}











/* Tablas de la seccion  Actividades */



table.tarifas td, table.horario td, table.programa td {
font-size:12px;
}
 #plano {
display:none;
}
 .tabla-ajuste {
 font-size:10px;
}















/* Seccion descagas  $$$$$$$$$$$$$$$*/



.descargables-contenido1 {
 position:relative;
float:left;
width:100%;
max-width:300px;
height:auto;
left:50%;
margin-left:-150px;
border:#003366 1px solid;
padding-bottom:2px;
-webkit-border-radius:6px 6px 6px 6px;
-moz-border-radius: 6px 6px 6px 6px;
border-radius: 6px 6px 6px 6px;
}
 .descargables-fila-1 {
position:relative;
float:left;
width:294px;
left:50%;
margin-left:-147px;
margin-top:3px;
height:auto;
min-height:80px;
text-align: center;
background-color:#00529E;
color:#FFF;
line-height:20px;
-webkit-border-radius:6px 6px 6px 6px;
-moz-border-radius: 6px 6px 6px 6px;
border-radius: 6px 6px 6px 6px;
}
 .descargables-fila-2 {
position:relative;
float:left;
width:294px;
left:50%;
margin-left:-147px;
margin-top:3px;
height:auto;
min-height:80px;
text-align: center;
background-color:#2E4156;
color:#FFF;
line-height:30px;
-webkit-border-radius:6px 6px 6px 6px;
-moz-border-radius: 6px 6px 6px 6px;
border-radius: 6px 6px 6px 6px;
}
 .descargables-fila-3 {
position:relative;
float:left;
width:294px;
left:50%;
margin-left:-147px;
margin-top:3px;
height:auto;
min-height:120px;
text-align: center;
background-color:#FFF;
color:#FFF;
line-height:20px;
}
 .descargables-celda-1 {
position:relative;
float:left;
min-width:292px;
height:auto;
min-height:inherit;
border:#003366 1px solid;
color:#666;
margin-bottom:2px;
-webkit-border-radius:6px 6px 6px 6px;
-moz-border-radius: 6px 6px 6px 6px;
border-radius: 6px 6px 6px 6px;
}
 .descargables-celda-2 {
position:relative;
float:left;
width:292px;
height:auto;
min-height: inherit;
border:#003366 1px solid;
text-align:center;
color:#666;
margin-bottom:2px;
margin-left:0px;
-webkit-border-radius:6px 6px 6px 6px;
-moz-border-radius: 6px 6px 6px 6px;
border-radius: 6px 6px 6px 6px;
}











/* fin Seccion descagas  $$$$$$$$$$$$$$$*/











/* Sección Programa*/







/*tabla 1*/



.programa-titulo-inicio {
min-width:300px;
min-height:50px;
font-size:12px;
}
 .programa-titulo-inicio2 {
min-width:300px;
min-height:50px;
font-size:12px;
}
 .programa-tabla-inicio td:nth-of-type(1) {
height:100px;
width:30px;
min-width:30px;
max-width:30px;
font-size:10px;
}



/*el estilo anterior es necesariopara que funcione el siguiente*/



.programa-tabla-inicio tr:nth-of-type(1) td:nth-of-type(1) {
height:100px;
min-height:100px;
max-height:240px;
width:18px;
min-width:18px;
max-width:18px;
border:#666 1px solid;
background-color:#484F56;
color:#FFF;
font-size:9px;
}
 .programa-tabla-inicio tr:nth-of-type(1) td:nth-of-type(2) {
height:100px;
min-height:100px;
max-height:240px;
width:45px;
min-width:45px;
max-width:45px;
border:#666 1px solid;
background-color:#484F56;
color:#FFF;
font-size:9px;
}
 .programa-tabla-inicio tr:nth-of-type(1) td:nth-of-type(3) {
height:100px;
min-height:100px;
max-height:240px;
width:45px;
min-width:45px;
max-width:45px;
border:#666 px solid;
background-color:#484F56;
color:#FFF;
font-size:9px;
}
 .programa-tabla-inicio tr:nth-of-type(1) td:nth-of-type(4) {
height:100px;
min-height:100px;
max-height:240px;
width:45px;
min-width:45px;
max-width:45px;
border:#666 px solid;
background-color:#484F56;
color:#FFF;
font-size:9px;
}
 .programa-tabla-inicio tr:nth-of-type(8) td:nth-of-type(1) {
font-size:10px;
width:45px;
min-width:45px;
max-width:45px;
}
 .programa-tabla-inicio tr:nth-of-type(8) td:nth-of-type(2) {
font-size:10px;
width:45px;
min-width:45px;
max-width:45px;
}



















/*Tabla 2*/







.programa-titulo {
min-width:300px;
min-height:50px;
}
 .programa-footer {
min-width:300px;
min-height:50px;
}
 .responsive {
display: table-cell;
}
 .programa-tabla td:nth-of-type(1) {
min-height:100px;
max-height:240px;
min-width:60px;
color:#666;
font-size:11px;
}







/*Fin Tabla 2*/











/*tabla 3*/







.programa-tabla-3 td:nth-of-type(1) {
width:70px;
min-width:70px;
max-width:70px;
}
 .programa-tabla-3 td:nth-of-type(2) {
width:105px;
min-width:105px;
max-width:105px;
}
 .programa-tabla-3 td:nth-of-type(3) {
width:105px;
min-width:105px;
max-width:105px;
}







/*Fin tabla 3*/





/* Fin Sección Programa*/





/* Pre Registro*/

.texto_prereg {
margin-left:-160px;
width:320px;
}
 .preregistro {
position:relative;
float:left;
width:320px;
max-width:320px;
left:50%;
margin-left:-160px;
border:#666 2px solid;
color:#06C;
font-weight:bold;
}
 #form_prerregistro label {
text-align:left;
height:15px;
min-height:15px;
margin-top:8px;
}
 #form_prerregistro img {
float:left;
left:50%;
margin-left:-160px;
margin-top:10px;
width:150px;
max-width:150px;
margin-top:10px;
clear: left;
}
 #recargar {
position:relative;
float:left;
left:50px;
margin-left:0px;
min-width:100px;
max-width:100px;
margin-top:10px;
text-align:center;
border:orange 0px solid;
}
 #img-recargar {
position:relative;
display:block;
float:left;
left:0px;
width:25px;
min-width:28px;
max-width:28px;
border:red 0px solid;
}
 #img-recargar img {
position:relative;
float:left;
left:0px;
width:25px;
max-width:25px;
margin-top:0px;
clear: none;
margin-left:0px
}
 .error {
position:relative;
float:left;
color:#C00;
display:block;
width:auto;
min-width:160px;
min-height:20px;
border:yellow 0px solid;
clear: right;
}
 .boton-regresar {
right:0px;
}



/* Fin Pre Registro*/



/* seccion logos*/

	
.bloque-centrar {
position:relative;
float:left;
width:310px;
max-width:310px;
left:50%;
margin-left:-155px;
border:#999 0px solid;
}
/* Fin seccion logos*/





}
